/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#Vagrant stuff
*.log
.vagrant/
#Figure out where to put this file later, for now ignore it
mcc-mnc-table.json