body {
	margin-top: 1rem;
}

img {
	width: 100%;
}

.strike {
	text-decoration: line-through;
}

.card {
	margin-bottom: 1rem;
}

.card-body {
	text-align: center;
}

.btn {
	border-radius: 2.25rem;
}

.badge {
	font-size: 100%;
}