#homepage {
	.download {
		text-align: center;

		.badge {
			margin-bottom: 0.5rem;
		}
	}           

    .tyl {
        width: 100%;
    }           

	.strike {
		text-decoration: line-through;
    }           

	header {
		height: 60px;
        background-color: black;
        text-align: center;
        color: white;
    }           

	main {
		margin-top: 1rem;
	}           

	.screenshot {
		margin-bottom: 0.5rem;
	}       

	.getitpiad {
		margin-bottom: 0.5rem;
	}
}